.search{
    position: absolute;
    width: 100%;
    border: none;
    background-color: rgba(207, 211, 211, 0.473);
    border-radius: 0.2rem;
    height: 2rem;
    font-size: 2rem;
    font-size: 1rem;
}